# ignore .git related folders
.git/
.github/
.gitignore
# ignore docs
docs/
# ignore logs
**/logs/
**/runs/
**/output/*
**/outputs/*
**/videos/*
*.tmp
# ignore docker
docker/exports/
docker/.container.yaml
# ignore recordings
recordings/
# ignore __pycache__
**/__pycache__/
**/*.egg-info/
# ignore sim symlinks
**/_isaac_sim/**
**/_rsl_rl/**
**/_orbit.kinodynamic_planer/**
**/_orbit/** 
# ignore wandb logs
**/wandb/
